In [1]:
import numpy as np
import pandas as pd

In [5]:
arr = [1,2,3,4,5] 

print("arr : ", arr)  
print("Q2 quantile of arr : ", np.quantile(arr, .50)) 
print("Q1 quantile of arr : ", np.quantile(arr, .25)) 
print("Q3 quantile of arr : ", np.quantile(arr, .75))

arr :  [1, 2, 3, 4, 5]
Q2 quantile of arr :  3.0
Q1 quantile of arr :  2.0
Q3 quantile of arr :  4.0

In [4]:
df.describe()

         values
count  10.00000
mean    5.50000
std     3.02765
min     1.00000
25%     3.25000
50%     5.50000
75%     7.75000
max    10.00000

In [7]:
df = pd.DataFrame({'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]})

df

   A  B  C
0  1  4  7
1  2  5  8
2  3  6  9

In [8]:
# Calculate the sum of the values along the columns
row_sums = df.sum(axis=1)

# Print the row sums
print(row_sums)

0    12
1    15
2    18
dtype: int64

In [9]:
print(df.sum(axis=0))

A     6
B    15
C    24
dtype: int64